/* Estilos generales */
@import url("normalize.css");
@import url("grid.css");
@import url("mediaquerys.css");
body {
  background-color: #000;
  color: #fff;
}
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
textarea {
  resize: vertical;
}
.hidden {
  display: none !important;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Exo';
}
header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 0;
}
.container {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}
.cuenta-r {
  text-align: center;
  background-image: url('../img/background.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.cuenta {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}
.cuenta div {
  width: 70px;
  height: 70px;
  padding: 35px;
  border: solid 2px #fff;
  border-radius: 70px;
  margin: 0 .5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 1.5rem;
  font-weight: bold;
}
#video, footer div {
  display: flex;
  align-items: center;
  justify-content: center;
}

#video video {
  width: 100%;
  height: auto;
}
.videos {
  background-color: #232323;
  padding: 2% 0 5%;
  text-align: center;
}

small {
  font-size: 1rem;
}
.items div {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  flex-direction: column;
  font-size: .8rem;
}
.item small {
    font-size: .7rem;
    font-style: initial;
}
  #video video {
    width: 75%!important;
  }
