doctype
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="IE=edge, chrome=1")
    title Sochi 2014
    link(href='https://fonts.googleapis.com/css?family=Exo&display=swap' rel='stylesheet')
  body
  -const title="Faltan:"
    header
      .container
        .row
          figure
            img(src='assets/img/logo-sochi.png' alt='Sochi 2014')
          figure
            img(src='assets/img/logo-claro-sports.png' alt='Claro Sports')

    main.container
      section.row.cuenta-r
        .col-12#contador
          h2.bold= ` ${title}`
          #cuenta.cuenta
        .col-12#video
          iframe(width='560' height='315' src='https://www.youtube.com/embed/EfK-WX2pa8c' frameborder='0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
      section.row.items
        .col-12
          h2.light Claro Sports en Sochi 2014
        .col-12.col-sm-6.col-lg-3.item
          figure
            img.circle(srcset='assets/img/team-latam.png' alt='')
            .leyenda
              p
                | Los Deportistas
                br
                | Latinoamericanos que
                br
                | participaron en Sochi
                br
                | 2014.
          p Team latam
        .col-12.col-sm-6.col-lg-3.item
          figure
            img.circle(srcset='assets/img/travel-meets-fashion.png' alt='')
            .leyenda
              p
                | Los Deportistas
                br
                | Latinoamericanos que
                br
                | participaron en Sochi
                br
                | 2015.
          p travel meets fashion
        .col-12.col-sm-6.col-lg-3.item
          figure
            img.circle(srcset='assets/img/velocidad-riesgo.png' alt='')
            .leyenda
              p
                | Los Deportistas
                br
                | Latinoamericanos que
                br
                | participaron en Sochi
                br
                | 2016.
          p velocidad y riesgo
        .col-12.col-sm-6.col-lg-3.item
          figure
            img.circle(srcset='assets/img/experiencia.png' alt='')
            .leyenda
              p
                | Los Deportistas
                br
                | Latinoamericanos que
                br
                | participaron en Sochi
                br
                | 2017.
          p experiencia multimedia

    footer.container
      .row.item-footer
        .col-12.col-md-4
          nav
            p
              small
                a(href="#") Aviso de privacidad
                |&nbsp;/&nbsp;
                a(href="#")  Contacto
                |
                strong#fecha

        .col-6.col-md-4
          figure
            img(src='assets/img/logo-sochi-color.png' alt='')
        .col-6.col-md-4
          nav
            a(href="#")
              img.social-icon(src='assets/img/mobli-icon.png' alt='')
            a(href="#")
              img.social-icon(src='assets/img/mobli-icon.png' alt='twitter')
            a(href="#")
              img.social-icon(src='assets/img/mobli-icon.png' alt='facebook')
            a(href="#")
              img.social-icon(src='assets/img/mobli-icon.png' alt='youtube')
script(async src="assets/js/countdown.js")

